body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav,footer{
    font-weight: 100;
    font-family: 'Lato';
    background-color: #43AB89 !important;
}
.navbar-fixed{
    margin-bottom: 1%;
}
.card{
    margin-top: 5%;
}

.custom-padding {
    padding: 2rem;
}

.custom-margin {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.custom-row-margin {
    margin-bottom: 80px;
}